[submodule "components/serial"]
	path = components/serial
	url = https://iot.rhi.hi.is/git/TOL103M/serial.git
[submodule "components/lownet"]
	path = components/lownet
	url = https://iot.rhi.hi.is/git/TOL103M/lownet.git
[submodule "components/ping"]
	path = components/ping
	url = https://iot.rhi.hi.is/git/TOL103M/ping.git
[submodule "components/chat"]
	path = components/chat
	url = https://iot.rhi.hi.is/git/TOL103M/chat.git
[submodule "components/utility"]
	path = components/utility
	url = https://iot.rhi.hi.is/git/TOL103M/utility.git
[submodule "components/cli"]
	path = components/cli
	url = https://iot.rhi.hi.is/git/TOL103M/cli.git
[submodule "components/device-table"]
	path = components/device-table
	url = https://iot.rhi.hi.is/git/TOL103M/device-table.git
